.slider {
  position: absolute;
  left: 15px;
  right: 15px;
}

.slider-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.slider-enter-active {
  opacity: 1;
  transform: translateX(0%);
}

.slider-exit {
  opacity: 1;
  transform: translateX(0%);
}

.slider-exit-active {
  opacity: 0;
  transform: translateX(100%);
}

.slider-enter-active,
.slider-exit-active {
  transition: all 0.3s;
}
