.page {
  /* position: absolute;
  left: 15px;
  right: 15px; */
  min-height: 58vh;
  margin-top: -200px;
  position: relative;
  z-index: 1;
}

.page-enter {
  min-height: 58vh;
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  min-height: 58vh;
  opacity: 1;
  transform: translateX(0%);
}

.page-exit {
  min-height: 58vh;
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  min-height: 58vh;
  opacity: 0;
  transform: translateX(100%);
}

.page-enter-active,
.page-exit-active {
  transition: all 0.3s;
}
