.cards__item {
  width: 200px;
  min-width: 200px;
  border-radius: 16px;
  background-size: cover;
  padding: 16px;
  margin-right: -10px;
  box-sizing: border-box;
  box-shadow: -10px 0 10px var(--main-text);
}

.cards__item:first-of-type {
  box-shadow: none;
}

.cards__item:nth-of-type(2n + 1) {
  background-image: url(../../../images/background/back-green-l.jpg);
}

.cards__item:nth-of-type(2n) {
  background-image: url(../../../images/background/back-pink-l.jpg);
}
