.reg-page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.reg-page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.reg-page-enter-active {
  opacity: 1;
  transform: translateX(0%);
}

.reg-page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.reg-page-exit-active {
  opacity: 0;
  transform: translateX(100%);
}

.reg-page-enter-active,
.reg-page-exit-active {
  transition: all 0.3s;
}
