.root {
  font-family: 'Source Code Pro', monospace;
  background-color: var(--main-back);
  color: var(--main-text);
  box-sizing: border-box;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  position: relative;
}
