.root__fixed-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  right: 5px;
}
@media screen and (min-width: 600px) {
  .root__fixed-links {
    right: 10px;
  }
}

@media screen and (min-width: 900px) {
  .root__fixed-links {
    right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .root__fixed-links {
    right: calc((100% - 1240px) / 2);
  }
}
