@keyframes pulse {
  from {
    scale: 1;
  }
  to {
    scale: 1.1;
  }
}

.root__fixed-link-pulse {
  width: 58px;
  height: 58px;
  position: absolute;
  top: -2px;
  left: -2px;
  background-color: var(--accent-soft);
  border: 4px solid var(--accent-soft);
  border-radius: 50%;
  box-sizing: border-box;
  animation: pulse 4s ease-in-out infinite;
  z-index: -1;
}
