.photo__item {
  width: 100%;
  height: 40vw;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 10px 2px var(--accent-soft), 0 0 10px 8px var(--accent-bright);
  border-radius: 16px;
  cursor: zoom-in;
}

@media screen and (min-width: 900px) {
  .photo__item {
    height: 20vw;
    max-height: 280px;
  }
}
