.photo__grid {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 900px) {
  .photo__grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.photo__grid_opened {
  display: grid;
}
