.logo__subtitle {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  letter-spacing: 5.2px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  background-image: linear-gradient(
    to right,
    var(--accent-bright),
    var(--accent-soft) 50%,
    var(--main-text) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.logo__subtitle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: var(--accent-soft);
  bottom: -2px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 900px) {
  .logo:hover .logo__subtitle {
    background-position: 0;
  }
}
