@keyframes closePhoto {
  from {
    scale: 1;
  }
  to {
    scale: 0;
  }
}

.popup__container {
  position: relative;
  scale: 0;
  animation: closePhoto 0.5s ease-in-out 1 forwards;
}

@media (orientation: portrait) {
  .popup__container {
    margin-top: 10vmax;
  }
}
