.reg-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  min-height: 140px;
}

.fade-enter .reg-form__fieldset {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active .reg-form__fieldset {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit .reg-form__fieldset {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active .reg-form__fieldset {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active .reg-form__fieldset,
.fade-exit-active .reg-form__fieldset {
  transition: all 0.4s;
}
