.price__toggle-btn {
  width: 20px;
  height: 20px;
  background-image: url(../../../images/icons/plus.svg);
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
  rotate: 0deg;
  transition: all 0.4s ease-in-out;
}

@media screen and (min-width: 900px) {
  .price__toggle-btn:hover {
    opacity: 0.5;
  }
}
